In [7]:
import os
from os.path import join

import pandas as pd

In [5]:
data_dir = os.getenv('HOME')+'/Project/hackathon1/data'

item_categories = join(data_dir, 'item_categories.csv')
items = join(data_dir, 'items.csv') 
shops = join(data_dir, 'shops.csv')
sales_train = join(data_dir, 'sales_train.csv')
test = join(data_dir, 'test.csv') 
sample_submission = join(data_dir, 'sample_submission.csv') 

item_categories = pd.read_csv(item_categories, encoding='utf-8')
items = pd.read_csv(items, encoding='utf-8')
shops = pd.read_csv(shops, encoding='utf-8')
sales_train = pd.read_csv(sales_train, encoding='utf-8') # 주요 테이블
sample_submission = pd.read_csv(sample_submission, encoding='utf-8')
test = pd.read_csv(test, encoding='utf-8')

#영어이름 파일
item_categories_en = join(data_dir, 'item_categories_en.csv')
items_en = join(data_dir, 'items_en.csv') 
shops_en = join(data_dir, 'shops_en.csv') 
item_categories_en = pd.read_csv(item_categories_en, encoding='ISO-8859-1')
items_en = pd.read_csv(items_en, encoding='ISO-8859-1')
shops_en = pd.read_csv(shops_en, encoding='ISO-8859-1')

In [9]:
item_categories.columns

Index(['item_category_name', 'item_category_id'], dtype='object')

In [10]:
items.columns

Index(['item_name', 'item_id', 'item_category_id'], dtype='object')

In [11]:
shops.columns

Index(['shop_name', 'shop_id'], dtype='object')

In [12]:
sales_train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [13]:
test.columns

Index(['ID', 'shop_id', 'item_id'], dtype='object')

In [14]:
len(items)

22170

In [15]:
len(shops)

60

In [16]:
item_cate = items_en.merge(item_categories_en, on="item_category_id", how="left")

In [17]:
item_cate

,item_name,item_id,item_category_id,item_category_name
0,! POWER IN glamor (PLAST.) D,0,40,Movie - DVD
1,! ABBYY FineReader 12 Professional Edition Ful...,1,76,Program - Home & Office (Digital)
2,*** In the glory (UNV) D,2,40,Movie - DVD
3,*** BLUE WAVE (Univ) D,3,40,Movie - DVD
4,*** BOX (GLASS) D,4,40,Movie - DVD
...,...,...,...,...
22165,"Nuclear titbit 2 [PC, Digital Version]",22165,31,Games PC - Digital
22166,Language 1C queries: Enterprises [Digital Vers...,22166,54,Books - Digital
22167,1C query language: Enterprise 8 (+ CD). Khrust...,22167,49,Books - Methodical materials 1C
22168,Egg for Little Inu,22168,62,"Gifts - gadgets, robots, sports"
22169,Dragon egg (Game of Thrones),22169,69,Gifts - Souvenirs

In [ ]:
train.head()

In [ ]:
test.head()

In [18]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [19]:
sales_train = sales_train.merge(shops_en, on="shop_id", how="left")

In [20]:
sales_train_conv = sales_train.merge(item_cate,  on="item_id", how="left")

In [21]:
print(len(sales_train))
print(len(sales_train_conv))

2935849
2935849

In [22]:
sales_train_conv.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,shop_name,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.00,1.0,"Yaroslavl shopping center ""Altair""",Scene 2012 (BD),37,Movie - Blu-Ray
1,03.01.2013,0,25,2552,899.00,1.0,"Moscow SEC ""Atrium""",DEEP PURPLE The House Of Blue Light LP,58,Music - Vinyl
2,05.01.2013,0,25,2552,899.00,-1.0,"Moscow SEC ""Atrium""",DEEP PURPLE The House Of Blue Light LP,58,Music - Vinyl
3,06.01.2013,0,25,2554,1709.05,1.0,"Moscow SEC ""Atrium""",DEEP PURPLE Who Do You Think We Are LP,58,Music - Vinyl
4,15.01.2013,0,25,2555,1099.00,1.0,"Moscow SEC ""Atrium""",DEEP PURPLE 30 Very Best Of 2CD (Businesses).,56,Music - CD production firm